.wrapper {
  background: linear-gradient(rgba(54, 54, 54, 0.527), rgba(49, 49, 49, 0.5)),
    url("src/assets/imgs/main/article2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 50px 15%;

  p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 600;
    line-height: 70px; /* 93.75% */
  }
}

@media (max-width: 1025px) {
  .wrapper {
    height: 80vh;

    p {
      font-size: 14px;
    }

    h1 {
      font-size: 44px;
      line-height: 50px; /* 93.75% */
    }
  }
}

@media (max-width: 426px) {
  .wrapper {
    height: 90vh;

    p {
      font-size: 14px;
    }

    h1 {
      font-size: 34px;
      line-height: 35px; /* 93.75% */
    }
  }
}
