.title {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px 20%;
  gap: 30px;

  p {
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; /* 150% */
    width: 400px;
  }

  h1 {
    color: #000;
    font-size: 64px;
    font-weight: 500;
    line-height: 60px; /* 93.75% */
    margin-left: 50px;
    width: 60%;
  }
}

@media (max-width: 769px) {
  .title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 20%;
    gap: 30px;

    p {
      color: #000;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; /* 150% */
      width: auto;
    }

    h1 {
      color: #000;
      font-size: 50px;
      font-weight: 500;
      line-height: 60px; /* 93.75% */
      margin-left: 50px;
      width: auto;
    }
  }
}

@media (max-width: 426px) {
  .title {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 6%;
    gap: 30px;

    p {
      color: #000;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; /* 150% */
      width: auto;
    }

    h1 {
      color: #000;
      font-size: 35px;
      font-weight: 500;
      line-height: 35px; /* 93.75% */
      margin-left: 20px;
      width: auto;
    }
  }
}
