.menu {
  font-size: 50px;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
}
.menu:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 2px;
  background: #000;
  transition: 0.2s;
}
.menu:hover::before {
  content: "";
  display: inline-block;
  width: 60px;
}

.menuActive {
  font-size: 50px;
  font-weight: 600;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
.menuActive::before {
  content: "";
  display: inline-block;
  width: 120px;
  height: 4px;
  background: #000;
  margin-right: 20px;
  transition: 0.2s;
}

@media (max-width: 768px) {
  .menu {
    font-size: 30px;
  }
  .menu:before {
    height: 2px;
  }
  .menu:hover::before {
    width: 60px;
  }
  .menuActive {
    font-size: 30px;
  }
  .menuActive::before {
    width: 60px;
    height: 2px;
  }
}
@media (max-width: 375px) {
  .menu {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .menu:before {
    height: 2px;
  }
  .menu:hover::before {
    width: 30px;
  }
  .menuActive {
    font-size: 27px;
    margin-bottom: 10px;
  }
  .menuActive::before {
    width: 30px;
    height: 2px;
  }
}
