.news {
  .newsmain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px 7%;
    z-index: -1;

    .newsbox {
      display: flex;
      flex-direction: column;
      position: relative;
      border: 1px solid #000;
      background: #f8f8f8;
      z-index: -1;

      img {
        width: 100%;
        z-index: -1;
      }

      .newsdata {
        display: flex;
        flex-direction: column;
        padding: 20px;
        h2 {
          color: #000;
          font-family: Montserrat;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 133.333% */
        }

        p {
          color: #000;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
      }

      .date {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #f8f8f8;
        color: #000;
      }
    }
  }
}

@media (max-width: 769px) {
  .news {
    .newsmain {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 426px) {
  .news {
    .newsmain {
      grid-template-columns: 1fr;
    }
  }
}
