.contactform {
  display: flex;

  .info {
    flex: 1;
    padding: 50px;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 65px;

    h1 {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
    }

    h5 {
      font-size: 16px;
      font-weight: 400;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;

    //   .input {
    //     ::placeholder {
    //       color: #000;
    //     }
    //   }

    .address {
      display: flex;
      gap: 20px;
      // z-index: -1;
    }

    .submit {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      input {
        padding: 10px;
      }
    }
  }
}

@media (max-width: 769px) {
  .contactform {
    display: flex;
    flex-direction: column;

    .info {
      padding: 50px;
      gap: 35px;
    }
  }
}
